<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PalcoNet.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <PalcoNet.Settings1>
            <setting name="CurrentDate" serializeAs="String">
                <value>11/08/2018 11:16:00</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value>LAPTOP-U8FGMPHG\SQLSERVER2012</value>
            </setting>
            <setting name="InitialCatalog" serializeAs="String">
                <value>GD2C2018</value>
            </setting>
            <setting name="UserId" serializeAs="String">
                <value>gdEspectaculos2018</value>
            </setting>
            <setting name="Password" serializeAs="String">
                <value>gd2018</value>
            </setting>
            <setting name="PageSize" serializeAs="String">
                <value>20</value>
            </setting>
        </PalcoNet.Settings1>
    </applicationSettings>
</configuration>